
<%
   # Administrator action box that shows at the very very top.
   @item.affiliate_join.each do |m|
     affiliate = Affiliate.find_by_id(m.affiliate_id)
     if affiliate.admin?(current_user, Membership::EDITOR) && !@item.archived? %>
        <% if m.approved? %>
            <div class='energyfolks_show_admin_controls'>
              <h3>Post management for <%= affiliate.name %></h3>
              Post is currently approved -
              <%= popup 'Revoke Approval', "#{@item.method_name}/reject_or_remove", true, {id: @item.id, aid: m.affiliate_id} %>
              <% if (m.affiliate_id > 0) && !@item.instance_of?(Blog) %>
                  <BR>
                  <%= @item.highlighted?(affiliate) ? 'Post is highlighted - ' : '' %>
                  <%= ajax_link "#{@item.highlighted?(affiliate) ? 'Unhighlight' : 'Highlight'} Post", "toggle_highlight", {model: @item.entity_name, id: @item.id, aid: m.affiliate_id} %>
              <% end %>
            </div>
        <% elsif m.awaiting_edit? %>
            <div class='energyfolks_show_admin_controls'>
              <h3>Post management for <%= affiliate.name %></h3>
              Post is currently rejected -
              <%= popup('Approve and Highlight', "#{@item.method_name}/approve", true, {id: @item.id, highlight: true, aid: m.affiliate_id}) if m.affiliate_id > 0 %>
              <%= ' | ' if m.affiliate_id > 0 %>
              <%= popup 'Approve', "#{@item.method_name}/approve", true, {id: @item.id, highlight: false, aid: m.affiliate_id} %>
            </div>
        <% else %>
            <div class='energyfolks_show_admin_controls energyfolks_show_urgent'>
              <h3>Post approval pending for <%= affiliate.name %></h3>
              Most recent updates are shown below.
              <% if m.approved_version > 0 %>
                  Your group has currently approved <a href='<%= SITE_HOST %>/<%= @item.method_name %>/<%= @item.id %>?version=<%= m.approved_version %>&aid=<%= m.affiliate_id %>' target='_blank'>version <%= m.approved_version %></a> of this post.  The current post shown below is version <%= @item.current_version %>.
              <% end %>
              <BR>
              <%= popup('Approve Request and Highlight', "#{@item.method_name}/approve", true, {id: @item.id, highlight: true, aid: m.affiliate_id}) if (m.affiliate_id > 0) && !@item.instance_of?(Blog) %> <BR>
              <%= popup 'Approve Request', "#{@item.method_name}/approve", true, {id: @item.id, highlight: false, aid: m.affiliate_id} %><BR>
              <%= popup 'Reject Request', "#{@item.method_name}/reject_or_remove", true, {id: @item.id, aid: m.affiliate_id} %>
            </div>
        <% end %>
    <% end %>
<% end %>
<%
   if @item.affiliate_join.map { |a| a.affiliate_id }.include?(0) && !@item.instance_of?(Blog)
     current_user.memberships.approved.each do |m|
       if m.affiliate.admin?(current_user, Membership::EDITOR) && !@item.affiliate_join.map { |a| a.affiliate_id }.include?(m.affiliate_id) && !@item.archived? %>
            <div class='energyfolks_show_admin_controls'>
              <h3>Post management for <%= m.affiliate.name %></h3>
              Post was sent to all energyfolks users, and therefore moderation is completed by energyfolks.  Change your group settings to moderate all posts, or <a href='mailto:contact@energyfolks.com'>contact energyfolks</a> with
              a specific inquiry about this post (please include the post type [<%= @item.method_name %>] and id [<%= @item.id %>]) <BR>
              <%= @item.highlighted?(m.affiliate) ? 'Post is highlighted - ' : '' %>
              <%= ajax_link "#{@item.highlighted?(m.affiliate) ? 'Unhighlight' : 'Highlight'} Post", "toggle_highlight", {model: @item.entity_name, id: @item.id, aid: m.affiliate_id} %>
            </div>
        <% end

           end
           end %>