<div class='form'>
  <%= nested_form_for @item, :url => { :action => new ? 'create' : 'update' } do |f| %>
      <%= raw(iframe_form) %>
      <% @item.affiliate_join << @item.class.join_table.new({affiliate_id: current_affiliate.id, approved_version: 1, admin_version: 1}) if current_affiliate.id.present? && (@item.affiliate_join.length == 0) %>
      <% if !new %>
        <input type=hidden name='id' value=<%= @item.id %>>
      <% end %>
      <div id='ef_carousel'>
        <%= raw(carousel_slide_title_section(new ? 'Post a Discussion' : 'Edit Discussion Post',2)) %>
        <div class="viewport">
          <ul class="overview">
            <li class='slide'>
              <%= raw(show_errors(@item)) %>

              <div class='form_label'>Title</div>
              <div class='form_entry'><%= f.text_field :name %></div>

              <div class='form_label'>Message</div>
              <div class='form_entry'><%= f.text_area :html, :class => 'tinymce' %></div>

              <div class='form_label'>Add Tags</div>
              <div class='form_entry'>
                <%= f.hidden_field :raw_tags, class: 'tag_box', style: {width: '300px'} %>
                <div class='explain'>
                  Enter tags such as 'solar' or 'entrepreneurship' that describe this post
                </div>
              </div>


              <div class='form_label'>Attachment</div>
              <div class='form_entry'>
                <%= link_to @item.attachment.url if @item.attachment.present? %>
                <%= f.file_field :attachment %>
                <div class='explain'>Images and Documents, 10MB Maximum</div>
              </div>
              <%= tinymce %>
            </li>
            <li class='slide'>
              <%= render partial: '/common/affiliate_picker', locals: {current: @item.affiliate_join, table: 'discussion', join_table: 'affiliates_discussions'} %>

            </li>
          </ul>
          <%= prev_next_buttons %>
        </div>
      </div>
  <% end %>
</div>