<div class="energyfolks_show_post_details">
    <h1><%= @item.name %></h1>
    <%= image_tag(@item.user.avatar.url(:thumb_big), :class => 'ef_post_logo', :align => 'right') if @item.user.avatar.present? && @item.user.present? %>
    <h3>Posted by <%= @item.user.present? ? @item.user.full_name : 'Unknown User' %></h3>
    <%= content_tag(:h3, link_to("Attachment: #{@item.attachment_file_name}", @item.attachment.url) ) if @item.attachment.present? %>
    <%= raw(@item.html) %>
    <%= raw(posted_from(@item)) %>
</div>