<a href='/admins/?iframe_next=1'>Back to Admin Main Screen</a>
<h1>Wordpress Update Status:</h1>
<b>Current wordpress version: <%= @current_version %></b>   <BR>
<b>Current CSS hash: <%= @css_hash %></b>       <BR>
<b>Current JS hash: <%= @js_hash %></b>           <BR><BR>
<div class="developer_style">
    <table border=1>
      <tbody>
      <tr>
        <th>
          ID
        </th>
        <th>
          Affiliate
        </th>
        <th>
          Last Check
        </th>
        <th>
          Wordpress Version
        </th>
        <th>
          Plugin Version
        </th>
        <th>
          Last Downloaded Version
        </th>
        <th>
          CSS Hash
        </th>
        <th>
          JS Hash
        </th>
      </tr>
      <% @items.each do |affiliate| %>
      <tr class="odd">
        <td>
          <%= affiliate.id %>
        </td>
        <td>
          <%= affiliate.name %>
        </td>
        <td>
          <%= affiliate.wordpress_server_ping.present? ? affiliate.wordpress_server_ping.strftime("%m/%d/%Y %l:%M %p") : 'Never' %>
        </td>
        <td>
          <%= affiliate.wordpress_version %>
        </td>
        <td style='color:black;background-color:<%= affiliate.wordpress_plugin_version.to_s == @current_version.to_s ? '#99dd99' : 'ff9999' %>'>
          <%= affiliate.wordpress_plugin_version %>
        </td>
        <td>
          <%= affiliate.wordpress_checked_version %>
        </td>
        <td style='color:black;background-color:<%= affiliate.wordpress_css_hash == @css_hash ? '99dd99' : 'ff9999' %>'>
          <%= affiliate.wordpress_css_hash %>
        </td>
        <td style='color:black;background-color:<%= affiliate.wordpress_js_hash == @js_hash ? '99dd99' : 'ff9999' %>'>
          <%= affiliate.wordpress_js_hash %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
</div>

<% if @not_on.length > 0 %>
    <BR><BR>
    <h3>Affiliates not connected through wordpress:</h3>
    <ul>
      <% @not_on.each do |a| %>
        <li><%= a.name %></li>
      <% end %>
    </ul>
<% end %>
