<div class='form'>
  <%= nested_form_for @item, :url => { :action => new ? 'create' : 'update' } do |f| %>
      <%= raw(iframe_form) %>
      <% @item.affiliate_join << @item.class.join_table.new({affiliate_id: current_affiliate.id, approved_version: 1, admin_version: 1}) if current_affiliate.id.present? && (@item.affiliate_join.length == 0) %>
      <% if !new %>
        <input type=hidden name='id' value=<%= @item.id %>>
      <% end %>
      <div id='ef_carousel'>
        <div class="viewport">
          <ul class="overview">
            <li class='slide'>
              <h1><%= new ? 'Post a Job' : 'Edit Job Post' %></h1>
              <%= raw(progress_bar(1,4)) %>
              <br/><br/>
              <hr>

              <%= raw(show_errors(@item)) %>

		          <div class='form_label'>Job Title</div>
              <div class='form_entry'><%= f.text_field :name %></div>

              <div class='form_label'>Employer</div>
              <div class='form_entry show_inline'>
                  <%= image_tag @item.logo.url(:thumb_big) if @item.logo.present? %>
                  <%= f.file_field :logo %>
              </div>
              <div class='form_entry'><%= f.text_field :employer %></div>

              <div class='form_label'>City and State/Country</div>
              <div class='form_entry'><%= f.text_field :location %>
                <div class='explain'>Please post multiple jobs if job is available in more than one location.</div>
              </div>

              <div class='form_label'>Job Description</div>
              <div class='form_entry show_inline'>
                <%= f.radio_button :job_type, Job::FULL_TIME, class: "toggle toggle-left", checked: "checked" %>
                <%= f.label :job_type, 'Full Time', value: Job::FULL_TIME %>
                <%= f.radio_button :job_type, Job::PART_TIME, class: "toggle" %>
                <%= f.label :job_type, 'Part Time', value: Job::PART_TIME %>
                <%= f.radio_button :job_type, Job::TEMPORARY, class: "toggle" %>
                <%= f.label :job_type, 'Temporary (internship/fellowship)', value: Job::TEMPORARY %>
                <%= f.radio_button :job_type, Job::ONE_TIME, class: "toggle toggle-right" %>
                <%= f.label :job_type, 'One Time', value: Job::ONE_TIME %>
              </div>
              <div class='form_entry'><%= f.text_area :html, :class => 'tinymce' %></div>

            </li>
            <li class='slide'>
              <h1>Job Details</h1>
              <%= raw(progress_bar(2,4)) %>
              <br/><br/>
              <hr>

              <div class='form_label'>Add Tags</div>
              <div class='form_entry'>
                <%= f.hidden_field :raw_tags, class: 'tag_box', style: {width: '300px'} %>
                <div class='explain'>
                  Enter tags such as 'solar' or 'entrepreneurship' that describe this post
                </div>
              </div>

              <div class='form_label'>How to Apply</div>
              <div class='form_entry'><%= f.text_area :how_to_apply, class: 'tinymce' %></div>

              <%= tinymce %>
            </li>
            <li class='slide'>
              <h1>Sharing</h1>
              <%= raw(progress_bar(3,4)) %>
	            <br/><br/>
	            <hr>

              <%= render partial: '/common/affiliate_picker', locals: {current: @item.affiliate_join, table: 'job', join_table: 'affiliates_jobs'} %>

            </li>
            <li class='slide'>
              <h1>Preview</h1>
              <%= raw(progress_bar(3,4)) %>
              <br/><br/>
              <hr>

            </li>
          </ul>
          <%= prev_next_buttons %>
        </div>
      </div>
  <% end %>
</div>