<div class="energyfolks_show_post_details">
  <%= image_tag(@item.logo.url, :class => 'ef_post_logo', :align => 'right', :width => '200px') if @item.logo.present? %>
    <h1><%= @item.name %></h1>
    <%= content_tag(:h3, @item.employer) if @item.employer.present? %>
    <%= content_tag(:h3, @item.location) if @item.location.present? %>
    <%= content_tag(:h3, "Type: #{@item.job_type_string}") if @item.job_type.present? %>
    <%= raw(@item.html) %>
    <h3>How to Apply</h3>
    <%= raw(@item.how_to_apply) %>
  <%= raw(@item.posted_from) %>
</div>