<% if session[:userid] && (@user.id == session[:userid]) %>
    <div class='form'>
      <div class='EnFolksLoginForm'>
          <a href='#' class='ef_third_party_link' data-type='linkedin'><BR>Update your Profile<BR>from LinkedIn</a>
      </div>
      <%=	 nested_form_for @user, :url => { :action => "update", :id => @user.id }, :html => { :multipart => true } do |f| %>
        <%= raw(iframe_form) %>
        <div id='ef_carousel' class='no_animation'>
          <%= raw(carousel_slide_title_section('Edit Profile',(@user.self_donations.length > 0) || (@user.stripe_tokens.length > 0) ? 9 : 8, {show_vertical: true, use_slide_titles: true, slide_titles: ['Basics', 'Profile', 'Bio', 'Interests', 'Expertise', 'Affiliates', 'Preferences', 'Account', 'Donations'] })) %>
          <div class="viewport">
            <ul class="overview">
              <li class='slide'>
                <%= raw(show_errors(@user)) %>
                <h1>Basic Information</h1>
                <div class='form_label'>First Name</div>
                <div class='form_entry'><%= f.text_field :first_name %></div>

                <div class='form_label'>Last Name</div>
                <div class='form_entry'><%= f.text_field :last_name %></div>

                <div class='form_label'>Picture</div>
                <div class='form_entry'>
                  <%= image_tag @user.avatar.url(:thumb_big) if @user.avatar.present? %>
                  <%= f.file_field :avatar %>
                </div>

                <div class='form_label'>Location</div>
                <div class='form_entry'><%= f.text_field :location %></div>

                <div class='form_label'>Timezone</div>
                <div class='form_entry'>
                  <%= f.time_zone_select(:timezone,  ActiveSupport::TimeZone.us_zones, {:default => current_user.timezone}, {class: 'list_all'} ) %>
                </div>

                <div class='form_label'>Email Address</div>
                <div class='form_entry'>
                  <% if @user.email_to_verify.present? %>
                    <%= f.text_field :email_to_verify %>
                    <BR>
                    <b>This address has not yet been verified.  Until verification occurs, your old email address (<%= @user.email %>) will still be associated with this account.
                      (<%= link_to('Resend verification email','/users/resend_email_change_verification', :class => 'resend_activation', :remote => true )%>)</b>
                  <% else %>
                    <div class='hide_me'><%= @user.email %> <a href="#" onclick="$(this).closest('.hide_me').hide();$(this).closest('.form_entry').find('.show_me').show();return false;">(Change)</a></div>
                    <div class='show_me' style='display:none;'><%= f.text_field :email_to_verify %></div>
                  <% end %>
                  <div class='explain'>
                    Your email is kept private and not shared with anyone. It is not shown on your profile page.
                  </div>
                  <div class='explain'>
                    Any change to your email will require verification of ownership of the new address.
                  </div>
                </div>

              </li>
              <li class="slide">

                <h1>Profile</h1>
                <div class='form_label'>Position/Title</div>
                <div class='form_entry'><%= f.text_field :position %></div>

                <div class='form_label'>Organization</div>
                <div class='form_entry'><%= f.text_field :organization %></div>

                <div class='form_label'>Tags</div>
                <div class='form_entry'>
                  <%= f.hidden_field :raw_tags, class: 'tag_box', style: {width: '300px'} %>
                  <div class='explain'>
                    Enter tags such as 'solar' or 'entrepreneurship' that describe your interests
                  </div>
                </div>

                <div class='form_label'>Resume</div>
                <div class='form_entry'>
                  <%= link_to('Current Resume', @user.resume.url) if @user.resume.present? %>
                  <%= f.file_field :resume %>
                </div>

                <%= render :partial => '/users/salesforce', :locals => {signup: false} %>

              </li>
              <li class="slide">
                <div class='form_label'>Your Bio</div>
                <div class='form_entry'><%= f.text_area :bio, :class => 'tinymce' %></div>
              </li>
              <li class="slide">
                <div class='form_label'>Interests</div>
                <div class='form_entry'><%= f.text_area :interests, :class => 'tinymce' %></div>
              </li>
              <li class="slide">
                <div class='form_label'>Expertise</div>
                <div class='form_entry'><%= f.text_area :expertise, :class => 'tinymce' %></div>
              </li>
              <li class="slide">
                <%= render partial: '/common/affiliate_picker', locals: {f: f, current: @user.memberships, table: 'user', join_table: 'memberships'} %>
              </li>
              <li class="slide">
                <h1>Email Subscriptions</h1>
                <div class='form_entry'>
                  <%= f.fields_for :subscription do |s| %>
                    <%= render :partial => '/common/subscriptions', locals: {f: s, show_rad: true} %>
                  <% end %>
                </div>

                <h1>Privacy</h1>
                <div class='form_label'>Profile Visibility</div>
                <div class='form_entry'>
                  <%= f.radio_button :visibility, User::PUBLIC, class: "toggle" %>
                  <%= f.label :visibility, 'Public', value: User::PUBLIC %>
                  <%= f.radio_button :visibility, User::LOGGED_IN, class: "toggle" %>
                  <%= f.label :visibility, 'Only to logged in members of any network', value: User::LOGGED_IN %>
                  <%= f.radio_button :visibility, User::NETWORKS, class: "toggle" %>
                  <%= f.label :visibility, 'Only to logged in members in my networks', value: User::NETWORKS %>
                  <%= f.radio_button :visibility, User::PRIVATE, class: "toggle" %>
                  <%= f.label :visibility, 'Private (administrators only)', value: User::PRIVATE %>
                </div>
                <div class='form_label'>Resume Visibility</div>
                <div class='form_entry'>
                  <%= f.radio_button :resume_visibility, User::PUBLIC, class: "toggle" %>
                  <%= f.label :resume_visibility, 'Public', value: User::PUBLIC %>
                  <%= f.radio_button :resume_visibility, User::LOGGED_IN, class: "toggle" %>
                  <%= f.label :resume_visibility, 'Only to logged in members of any network', value: User::LOGGED_IN %>
                  <%= f.radio_button :resume_visibility, User::NETWORKS, class: "toggle" %>
                  <%= f.label :resume_visibility, 'Only to logged in members in my networks', value: User::NETWORKS %>
                  <%= f.radio_button :resume_visibility, User::PRIVATE, class: "toggle" %>
                  <%= f.label :resume_visibility, 'Private (administrators only)', value: User::PRIVATE %>
                </div>
              </li>
              <li class="slide">
                <div class="form_entry">
                  <h1>Change Password</h1>
                  <div class='form_label'>Current Password</div>
                  <div class='form_entry'>
                    <%= f.password_field :password_old %>
                    <div class='explain'>Include if changing your password, otherwise leave blank</div>
                  </div>
                  <div class='form_label'>New Password</div>
                  <div class='form_entry'>
                    <%= f.password_field :password %>
                    <div class='explain'>If changing your password</div>
                  </div>
                  <div class='form_label'>Confirm New Password</div>
                  <div class='form_entry'>
                    <%= f.password_field :password_confirmation %>
                  </div>
                </div>

                <div class='form_entry'>
                  <h1>Delete</h1>
                  <div class='form_entry'>
                    <%= link_to "Delete my account", "/users/delete", :confirm => 'Are you sure? Deleted accounts cannot be restored, and all associated information is purged.' %>
                  </div>
                </div>

                <%= tinymce %>
              </li>
              <% if (@user.self_donations.length > 0) || (@user.stripe_tokens.length > 0) %>
                  <li class="slide">
                    <div class="form_entry">
                      <% if @user.stripe_tokens.length > 0 %>
                          <h1>Cards on File</h1>
                          <table border=0 style='clear:both;border-top: 1px solid #dddddd;' cellspacing=0 width='100%'>
                            <% @user.stripe_tokens.each do |token| %>
                                <tr>
                                  <td style='margin:0px; padding:3px; border-bottom: 1px solid #dddddd;'>
                                    <%= token.card_type %> *********-<%= token.last4 %>
                                  </td>
                                  <td style='text-align:right; margin:0px; padding:3px; border-bottom: 1px solid #dddddd;'>
                                    <a href='#' class='remove_stripe' data-id='<%= token.id %>'>Remove</a>
                                  </td>
                                </tr>
                            <% end %>
                          </table><BR><BR>
                      <% end %>
                      <% if @user.self_donations.length > 0 %>
                          <h1>Past Donations</h1>
                          <table border=0 style='clear:both;border-top: 1px solid #dddddd;' cellspacing=0 width='100%'>
                            <% @user.self_donations.each do |donation| %>
                                <tr>
                                  <td style='width:90px;margin:0px; padding:3px; border-bottom: 1px solid #dddddd;'>
                                    <%= donation.created_at.strftime("%-m/%-d/%Y") %>
                                  </td>
                                  <td style='margin:0px; padding:3px; border-bottom: 1px solid #dddddd;'>
                                    <%= raw(donation.entity.blank? ? 'General Donation' : "<a href='#{SITE_HOST}/#{donation.entity.method_name}#{donation.entity.path}' target='_blank'>#{donation.entity.name}</a>") %>
                                  </td>
                                  <td style='text-align:right; margin:0px; padding:3px; border-bottom: 1px solid #dddddd;'>
                                    $<%= donation.amount %>
                                  </td>
                                </tr>
                            <% end %>
                          </table>
                          <i>Questions or Concerns?  Send an email to <a href='mailto:contact@energyfolks.com'>contact@energyfolks.com</a>.</i>
                      <% end %>
                    </div>
                  </li>
              <% end %>
            </ul>
            <%= prev_next_buttons(false) %>
          </div>
        </div>
      <% end %>
    </div>
<% else %>
    <h1>something isn't quite right...</h1>
<% end %>