<% if current_affiliate.id.present? %>
    <% @user.location = current_affiliate.location unless @user.location.present? %>
<% end %>
<% if current_affiliate.open == 3 %>
    <h1><%= current_affiliate.name %> membership is by invitation only</h1>
    Membership in this group is by invitation only.  If you would like to join, please contact the group
    administrators at <%= mail_to current_affiliate.email %>.
<% else %>
  <div class='form new_user_signup_popup'>
    <%=	nested_form_for @user, :url => { :action => "create"} do |f| %>
      <%= raw(iframe_form) %>
      <div id='ef_carousel'>
        <% if current_affiliate.id.present? && (current_affiliate.programs.length > 0) %>
            <%= raw(carousel_slide_title_section("Sign up for an #{current_affiliate.name} account",4, {show_vertical: false, use_slide_titles: false, slide_titles: ['Basics', 'Education','Affiliates', 'Legal'] })) %>
        <% else %>
            <%= raw(carousel_slide_title_section("Sign up for an #{current_affiliate.name} account",3, {show_vertical: false, use_slide_titles: false, slide_titles: ['Basics', 'Affiliates', 'Legal'] })) %>
        <% end %>
        <div class="viewport">
          <ul class="overview">
            <li class='slide'>
              <%= raw(show_errors(@user)) %>

              <div class='form_label'>Email Address</div>
              <div class='form_entry'>
                <%= f.text_field :email %>
                <div class='explain'>
                  Your email is kept private and not shared with anyone. It is not shown on your profile page.
                </div>
              </div>
              <div id="secondary_email_div" style="display:none;">
                <div class="form_label">Secondary Email Address</div>
                <div class="form_entry">
                  <%= f.text_field :secondary_email %>
                  <div class='explain'>
                    Please provide a secondary, non .edu email address.  We will only use this address if your .edu address becomes unresponsive.
                  </div>
                </div>
              </div>
              <div class='form_label'>First Name</div>
              <div class='form_entry'><%= f.text_field :first_name %></div>

              <div class='form_label'>Last Name</div>
              <div class='form_entry'><%= f.text_field :last_name %></div>

              <div class='form_label'>City and State/Country</div>
              <div class='form_entry'><%= f.text_field :location %></div>

              <% if current_affiliate.id.present? %>
                <%= f.hidden_field :timezone, :value => current_affiliate.timezone %>
              <% else %>
                <div class='form_label'>Timezone</div>
                <div class='form_entry'><%= f.time_zone_select(:timezone,  ActiveSupport::TimeZone.us_zones, {:default => "Pacific Time (US & Canada)"}, {class: 'list_all'} ) %></div>
              <% end %>

              <div class='form_label'>Tag Yourself</div>
              <div class='form_entry'>
                <%= f.hidden_field :raw_tags, class: 'tag_box', style: {width: '300px'} %>
                <div class='explain'>
                  Enter tags such as 'solar' or 'entrepreneurship' that describe your interests
                </div>
              </div>

              <div class='form_label'>Password</div>
              <div class='form_entry'><%= f.password_field :password %></div>

              <div class='form_label'>Confirm Password</div>
              <div class='form_entry'><%= f.password_field :password_confirmation %></div>

              <% if (current_affiliate.open == 2) && (@user.memberships.length == 0)%>
                <div id='user_memberships_attributes_0_reason_div'>
                  <div class='form_label'>Reason for Joining</div>
                  <div class='form_entry'>
                    <input type='text' name='user[memberships_attributes][0][reason]' id='user_memberships_attributes_0_reason' size=30>
                    <div class='explain'>
                      <%= current_affiliate.name %> administrators manually approve all membership requests.  Please include a brief sentence clarifying your request for membership.
                    </div>
                  </div>
                </div>
              <% end %>

              <%= render :partial => '/users/salesforce', :locals => {signup: true} %>
              <% @user.memberships << Membership.new({affiliate_id: current_affiliate.id, approved: (current_affiliate.open == 1)}) if current_affiliate.id.present? && (@user.memberships.length == 0) %>
            </li>


            <% if current_affiliate.id.present? && (current_affiliate.programs.length > 0) %>
                  <li class='slide affiliate_options'>

                    <div class='form_label'>School Affiliation</div>
                    <div class='form_entry affiliation_select'><%= f.select(:school_affiliation, Membership.school_affiliations_select) %></div>
                    <div class="program_select" style="display:none;">
                      <div class='form_label'>Program</div>
                      <div class='form_entry'><%= f.collection_select(:program_id, current_affiliate.programs, :id, :name) %></div>
                    </div>
                    <div class="grad_year_select" style="display:none;">
                      <div class='form_label'>Graduation Date</div>
                      <div class='form_entry'><%= f.select(:graduation_month, Membership.graduation_month) %> <%= f.select(:graduation_year, Membership.graduation_year) %></div>
                    </div>
                    <div class="other_select" style="display:none;">
                      <div class='form_label'>Position/Title</div>
                      <div class='form_entry'><%= f.text_field :position %></div>

                      <div class='form_label'>Organization</div>
                      <div class='form_entry'><%= f.text_field :organization %></div>

                      <div class='form_label'>Organization Type</div>
                      <div class='form_entry'><%= f.select(:organization_type, User::ORG_TYPES) %></div>
                    </div>
                  </li>
            <% end %>

            <li class='slide'>
              <h1>Join Networks</h1><BR>
              <% if current_affiliate.id.present? %>
                <p><%= current_affiliate.name %> is an affiliated network of EnergyFolks, the network of networks in energy.  Select any other EnergyFolks affiliate groups you would like to join.</p>
              <% else %>
                <p>EnergyFolks is a network of networks.  Select any affiliate networks you would like to join.</p>
              <% end %>
              <%= render partial: '/common/affiliate_picker', locals: {f: f, current: @user.memberships, table: 'user', join_table: 'memberships'} %>
            </li>
            <li class='slide'>
              <h1>The legal stuff</h1>
              <div class="form_entry">
                <p>
                  By registering, you agree to the energyfolks terms of use and privacy policy.
                </p>
                <div class='legal'>
                  <%= render partial: 'users/terms' %>
                </div>
                <%= link_to('terms of use - view full screen', '/terms', {target: '_blank', class: "view_full_screen"}) %>
                <div class='legal'>
                  <%= render partial: 'users/privacy' %>
                </div>
                <%= link_to('privacy policy- view full screen', '/privacy', {target: '_blank', class: "view_full_screen"}) %>
              </div>
            </li>
          </ul>
          <%= prev_next_buttons %>
        </div>
      </div>
    <% end %>
  </div>

<% end %>