<h1>Reset Password</h1>
<% if @step == '3' %>
    <p>
      Please enter a new password below to complete your password reset.
    </p>
    <div class='form'>
      <%= form_tag('/users/reset_password') do %>
          <%= raw(iframe_form) %>
          <input type="hidden" name="token" value='<%= @token %>'>
          <div class='form_label'>Password</div>
          <div class='form_entry'><input type="password" name="password"></div>

          <div class='form_label'>Confirm Password</div>
          <div class='form_entry'><input type="password" name="password_confirmation"></div>
          <input type="hidden" name="step" value='4'>
          <BR>
          <button type="submit">Reset Password</button>
      <% end %>
    </div>
<% elsif @step == '4' %>
    <p>
        Your password has been reset.
    </p>
    <% #TODO: place link to the login page of affiliate with @aid here! %>
<% else %>
    <p>
      To reset your password, please enter the email address associated with your account below. An email will be sent with instructions for resetting the password.
    </p>
    <div class='form'>
      <%= form_tag('/users/reset_password') do %>
          <%= raw(iframe_form) %>
          Email Address: <input type="text" name="email">
          <input type="hidden" name="step" value='2'>
          <BR>
          <button type="submit">Reset Password</button>
      <% end %>
    </div>
<% end %>