<%= nested_form_for @user, :url => '/users/rights' do |f| %>
    <h1>Global Rights</h1>
    <input type="hidden" name="id" value="<%= @user.id %>">
    <input type="hidden" name="iframe_next" value="1">
    <div class='form_label'>System Administration</div>
    <div class='form_entry'>
      <label><%= f.radio_button :admin, true %> System admin</label>
      <label><%= f.radio_button :admin, false %> Normal user</label>
    </div>
    <div class='form_label'>Moderation Emails</div>
    <div class='form_entry'>
      <label><%= f.radio_button :admin_emails, true %> Receive emails</label>
      <label><%= f.radio_button :admin_emails, false %> Do not receive emails</label>
    </div>
    <%= f.fields_for :memberships do |membership| %>
        <%= render :partial => '/affiliates/rights', :locals => { f: membership } %>
    <% end %>
    <h1>Email Addresses</h1>
    <%= f.fields_for :google_emails do |google_email| %>
        <%= google_email.text_field :address %> @ <%= google_email.select(:domain,GoogleEmail::DOMAINS.map{|m| [m, m]})%> <%= google_email.link_to_remove "[X]" %>
    <% end %>
    <%= f.link_to_add "Add an email", :google_emails %>
    <BR><i>Important: You must also create/delete the email address from the <a href="https://www.google.com/a/energyfolks.com">google admin console</a></i><BR><BR>
    <%= f.submit %>
<% end %>
