<% if @item.present? %>
    <%
       # Visibility control:
       visible = @item.verified?
       visible = true if @item.is_visible?(current_user)
       visible = true if current_user.present? && current_user.admin?
       visible = true if current_user.present? && (current_user.id == @item.id)
    %>
    <% if current_user.present? && (current_user.id == @item.id) %>
        <div class='admin_controls'>
          <h3>This is you</h3>
          <%= popup 'Edit your profile', 'users/profile', true %>
        </div>
    <% end %>
    <!-- Administrator links etc -->
    <% if current_user.present?
           @item.memberships.each do |m|
             if m.affiliate.admin?(current_user) %>
                <% if m.approved? %>
                <div class='admin_controls'>
                  <h3>Membership management for <%= m.affiliate.name %></h3>
                  <%= popup 'Admin Rights', 'affiliates/rights', true, {id: @item.id, aid: m.affiliate_id} %>
                  <%= popup 'Remove From Group', 'affiliates/reject_or_remove', true, {id: @item.id, aid: m.affiliate_id} %>
                </div>
                <% else %>
                    <div class='admin_controls urgent'>
                      <h3>Membership request pending for <%= m.affiliate.name %></h3>
                      This user has requested to join your group.  Their reason was listed as:<BR>
                      <%= m.reason %>
                      <BR>
                      <%= popup 'Approve Request', 'affiliates/approve', true, {id: @item.id, aid: m.affiliate_id} %>
                      <%= popup 'Reject Request', 'affiliates/reject_or_remove', true, {id: @item.id, aid: m.affiliate_id} %>
                    </div>
                <% end %>
           <% end
           end
          if current_user.admin? %>
            <div class='admin_controls'>
              <h3>User Management</h3>
              <%= popup 'Global Rights', 'users/rights', true, {id: @item.id} %>
              <%= @item.verified? ? popup('Freeze Account', 'users/freeze_account', true, {id: @item.id}) : popup('Manually Verify Account', 'users/manual_verify', true, {id: @item.id}) %>
            </div>
          <% end
       end
    %>
    <!-- Beginning of Profile -->
    <% if visible %>
        <h1><%= @item.first_name %> <%= @item.last_name %></h1>
        <%= image_tag(@item.avatar.url(:thumb_big), :align => 'right') if @item.avatar.present? %>
        <%= content_tag(:div, @item.position) if @item.position.present? %>
        <%= content_tag(:div, @item.organization) if @item.organization.present? %>
        <%
            # TODO: Expand the user profile to show relevant information
        %>
    <% else %>
        <h1>Oops!</h1>
        <b>This user's profile is restricted, or this user's profile has not yet been approved.</b>
    <% end %>
<% else %>
    <h1>Oops!</h1>
    <b>This user no longer exists.  The user may have deleted their profile.</b>
<% end %>