<div class='form'>
  <%
    if @item.start.blank? && params[:date].present?
      @item.start = Time.at(params[:date].to_i).utc.to_datetime
      @item.end = Time.at(params[:date].to_i+3600).utc.to_datetime
    end
  %>
  <%= nested_form_for @item, :url => { :action => new ? 'create' : 'update' } do |f| %>
      <%= raw(iframe_form) %>
      <% @item.affiliate_join << @item.class.join_table.new({affiliate_id: current_affiliate.id, approved_version: 1, admin_version: 1}) if current_affiliate.id.present? && (@item.affiliate_join.length == 0) %>
      <% if !new %>
        <input type=hidden name='id' value=<%= @item.id %>>
      <% end %>
      <div id='ef_carousel'>
        <div class="viewport">
          <ul class="overview">
            <li class='slide'>
	            <h1><%= new ? 'Post an Event' : 'Edit Event Post' %></h1>
              <%= raw(progress_bar(1,3)) %>
              <br/><br/>
              <hr>

              <%= raw(show_errors(@item)) %>

              <div class='form_label'>Event Title</div>
              <div class='form_entry'><%= f.text_field :name %></div>

              <div class='form_label'>Start</div>
              <div class='form_entry'><%= f.text_field :start_dv %><%= f.text_field :start_t %></div>

              <div class='form_label'>End</div>
              <div class='form_entry'><%= f.text_field :end_dv %><%= f.text_field :end_t %></div>

              <%= f.hidden_field :start_d %><%= f.hidden_field :end_d %>
              <script>
                  $(function() {

                      $( "#event_start_dv" ).datepicker({
                          numberOfMonths: 2,
                          changeMonth: true,
                          altField: "#event_start_d",
                          altFormat: "yy-m-d",
                          showButtonPanel: true,
                          minDate: 0,
                          onClose: function( selectedDate ) {
                              $( "#event_end_dv" ).datepicker( "option", "minDate", selectedDate );
                          }
                      });
                      $( "#event_end_dv" ).datepicker({
                          numberOfMonths: 2,
                          changeMonth: true,
                          minDate: 0,
                          altField: "#event_end_d",
                          altFormat: "yy-m-d",
                          showButtonPanel: true,
                          onClose: function( selectedDate ) {
                              $( "#event_start_dv" ).datepicker( "option", "maxDate", selectedDate );
                          }
                      });
                      $("#event_start_t").timePicker({
                                  show24Hours: false,
                                  step: 15}
                      );
                      $("#event_end_t").timePicker({
                                  show24Hours: false,
                                  step: 15}
                      );
                  });
              </script>

              <div class='form_label'>Timezone</div>
              <div class='form_entry'>
                <%= f.time_zone_select(:timezone,  ActiveSupport::TimeZone.us_zones, {:default => current_user.timezone}, {class: 'list_all'} ) %>
              </div>

              <div class='form_label'>Event Host</div>
              <div class='form_entry'><%= f.text_field :host %></div>

              <div class='form_label'>Location Address</div>
              <div class='form_entry'><%= f.text_field :location %>
                <div class='explain'>Used to geolocate.  Please do not include room numbers or specific details.</div>
              </div>

              <div class='form_label'>Building and Room Number</div>
              <div class='form_entry'><%= f.text_field :location2 %>
                <div class='explain'>Include any other specific location information here.</div>
              </div>

              <div class='form_label'>Logo</div>
              <div class='form_entry'>
                <%= image_tag @item.logo.url(:thumb_big) if @item.logo.present? %>
                <%= f.file_field :logo %>
              </div>
            </li>
            <li class='slide'>
              <%= raw(progress_bar(2,3)) %>
              <br/><br/>
              <hr>

              <div class='form_label'>Description</div>
              <div class='form_entry'><%= f.text_area :html, :class => 'tinymce' %></div>

              <div class='form_label'>Add Tags</div>
              <div class='form_entry'>
                <%= f.hidden_field :raw_tags, class: 'tag_box', style: {width: '300px'} %>
                <div class='explain'>
                  Enter tags such as 'solar' or 'entrepreneurship' that describe this post
                </div>
              </div>

              <div class='form_label'>Synopsis</div>
              <div class='form_entry'>
                <%= f.text_area :synopsis %>
                <div class='explain'>120 characters or less.  Used in our digest emails.</div>
              </div>

              <%= tinymce %>
            </li>
            <li class='slide'>
              <%= raw(progress_bar(3,3)) %>
              <br/><br/>
              <hr>

              <%= render partial: '/common/affiliate_picker', locals: {current: @item.affiliate_join, table: 'event', join_table: 'affiliates_events'} %>

            </li>
          </ul>
          <%= prev_next_buttons %>
        </div>
      </div>
  <% end %>
</div>