<div class="energyfolks_show_post_details">
  <%= image_tag(@item.logo.url, :class => 'ef_post_logo', :align => 'right', :width => '200px') if @item.logo.present? %>
    <h1><%= @item.name %></h1>
    <% if @user.present? %>
    	<%= content_tag(:h3, @item.start.in_time_zone(@user.timezone).strftime("%A, %B %-d, %l:%M %p") %> - <%= @item.end.in_time_zone(@user.timezone).strftime("%l:%M %p")) %>
    <% else %>
    	<%= content_tag(:h3, @item.date_string) %>
    <% end %>
    <%= content_tag(:h3, @item.location) if @item.location.present? %>
    <%= content_tag(:h3, @item.location2) if @item.location2.present? %>
    <%= content_tag(:h3, @item.host) if @item.host.present? %>
    <%= link_to(content_tag(:h4, @item.url), @item.url, :target => "_blank") if @item.url.present? %>
    <%= raw(@item.html) %>
  <%= raw(@item.posted_from) %>
</div>