<div class='form'>
  <%= nested_form_for @affiliate, :url => { :action => "salesforce", :id => @affiliate.id }, :html => { :multipart => true } do |f| %>
      <%= raw(iframe_form) %>
      <h1>Salesforce Sync</h1><BR>
      <%= @notice_message %>
      <p>Salesforce sync will sync your membership list with the 'contact' object in salesforce.  As new users create accounts, new contacts in salesforce will automatically be created and kept up to date as users update information.</p>
      <h2>Login information</h2>
      <div class='form_label'>Salesforce Username</div>
      <div class='form_entry'>
        <%= f.text_field :salesforce_username %>
        <div class='explain'>Remove to disable Salesforce sync</div>
      </div>

      <div class='form_label'>Salesforce Password</div>
      <div class='form_entry'>
        <%= f.text_field :salesforce_password %>
      </div>
      <div class='form_label'>Saleforce Security Token</div>
      <div class='form_entry'>
        <%= f.text_field :salesforce_token %>
        <div class='explain'>If you do not know your token, you can reset it to get a new one emailed to you.  Login to salesforce, click your account name near the top right, and select 'My Settings' from the pulldown menu.  On the screen that appears, click 'personal' in the lefthand menu and then 'Reset my security token'.</div>
      </div>
      <div class='form_entry'>
      <% if @client.enabled? %>
         <%
            login = @client.login
            if login.present? %>
              <h2>Error logging in</h2>
              <%= login %>
            <% else %>

              <h2>Manual Sync</h2>
              <p><a href='/affiliates/salesforce?id=<%= @affiliate.id %>&force=1&full=1&iframe_next=1'>Full Sync</a> (recommended after first linking to salesforce, This action may take a long time...This will overwrite syncing fields in salesforce that you may have set manually!).</p>
              <p><a href='/affiliates/salesforce?id=<%= @affiliate.id %>&force=1&iframe_next=1'>Update Sync</a> (recommended after salesforce sync is lost for a period of time...This will only update users who have new information in their EF fields.  It will check the EF 'last updated' attribute against the SalesForce 'last_modified' attribute to determine which has the latest data, and only update if EF data is newer).</p>
              <h2>Sync Settings</h2>
              <p>To enable salesforce syncing, you must connect EnergyFolks data fields with Salesforce data fields.  You can also add Salesforce data fields to the EnergyFolks user profile page when no corresponding EnergyFolks data type exists.  The Email and name fields are assumed and automatically linked.</p>
              <table border=1>
                <tr>
                  <th>Salesforce Field</th>
                  <th>Field Type</th>
                  <th>Linked EnergyFolks Field</th>
                  <th>Custom Field</th>
                </tr>
                <%= f.fields_for :salesforce_items do |item| %>
                  <tr>
                    <td><%= item.object.salesforce_label %></td>
                    <td>
                      <%= SalesforceItem.type_strings[item.object.salesforce_type].capitalize %>
                      <% if item.object.salesforce_options.present? %>
                      <ul>
                        <li><%= raw(item.object.salesforce_options.map { |n| n[:label] }.join('</li><li>')) %></li>
                      </ul>
                      <% end %>
                    </td>
                    <td class='salesforce_select' id='salesforce_<%= item.object.id %>'>
                      <% if [SalesforceItem::PICKLIST, SalesforceItem::MULTIPICKLIST].include?(item.object.salesforce_type) %>
                          Picklists and Multipicklists cannot be synced with EnergyFolks fields
                          <%= item.hidden_field :energyfolks_name, :value => '' %>
                      <% else %>
                          <%= item.select(:energyfolks_name, SalesforceItem.select_options) %>
                      <% end %>
                    </td>
                    <td>
                      <div class='custom_explain' style='display:<%= item.object.energyfolks_name.present? ? 'block' : 'none' %>;'>
                        Option only available if no EnergyFolks field is linked to item.
                      </div>
                      <div class='custom' style='display:<%= item.object.energyfolks_name.present? ? 'none' : 'block' %>;'>
                        <label><%= item.radio_button(:custom, SalesforceItem::NONE) %> Do not sync</label><BR>
                        <label><%= item.radio_button(:custom, SalesforceItem::PROFILE) %> Ask on Profile</label><BR>
                        <label><%= item.radio_button(:custom, SalesforceItem::SIGNUP) %> Ask on Profile and Signup</label>
                      </div>
                    </td>

                  </tr>
                <% end %>
              </table>

            <% end %>
      <% end %>
      <input type=hidden name='subbed' value='1'>
      <%= f.submit 'Update Options' %>
      </div>
  <% end %>
</div>