

<% if @item.archived? %>
    <div class='energyfolks_show_admin_controls'>
      <h2>This item has been archived and is no longer editable or available in search results.</h2>
    </div>
<% end %>
<% if params[:version].blank? %>
    <%= render :partial => '/common/show_top/admin_controls' %>
   <%
      tabs = [{text: 'Details', class: 'post_details'}]
      tabs << {text: 'Versions', class: 'versioning'} if @item.is_editable?(current_user)
      tabs << {text: 'Edit', class: 'edit'} if @item.is_editable?(current_user) && !@item.archived?
      tabs << {text: 'Analytics', class: 'analytics'} if @item.is_editable?(current_user) || (current_affiliate.id.present? && current_affiliate.admin?(current_user, Membership::EDITOR))
      if tabs.length > 1 %>
          <table class='energyfolks_show_top' cellspacing="0">
            <tr><td class="energyfolks_spacer"></td>
              <% tabs.each do |t| %>
                <td data-class="<%= t[:class] %>" class="energyfolks_show_top<%= t[:text] == 'Details' ? ' selected' : '' %>">
                  <%= t[:text] %>
                </td><td class="energyfolks_spacer"></td>
              <% end %>
            </tr>
          </table>
   <% end %>


    <% if @item.is_editable?(current_user) %>
        <%= render :partial => '/common/show_top/versioning' %>
    <% end %>


    <% if @item.is_editable?(current_user) || (current_affiliate.id.present? && current_affiliate.admin?(current_user, Membership::EDITOR)) %>
        <%= render :partial => '/common/show_top/analytics' %>
    <% end %>
    <% if @item.is_editable?(current_user) %>
        <div class="energyfolks_show_edit" data-method="<%= @item.method_name %>" data-id="<%= @item.id %>" data-url="<%= "#{SITE_HOST}/#{@item.method_name}/edit?id=#{@item.id}&aid=#{current_affiliate.id.present? ? current_affiliate.id : 0}&iframe_next=1" %>"></div>
    <% end %>

    <%
       # Box with post info that shows at top of 'post' view
       if @item.is_editable?(current_user) %>
        <%= render :partial => '/common/show_top/info_box' %>
    <% end
    end
%>