<% if @item.archived? %>
    <div class='admin_controls'>
      <h2>This item has been archived and is no longer editable or available in search results.</h2>
    </div>
<% end %>
<% if params[:version].blank? %>
    <% if @item.is_editable?(current_user) %>
        <div class='admin_controls'>
          <%= content_tag(:h3, current_user.id == @item.user_id ? 'This is your post' : 'Content Management') %>
          This post was submitted on <%= @item.created_at.strftime("%A, %B %-d, %Y at %-k:%M") %> by <%= current_user.id == @item.user_id ? 'you' : "#{@item.user.first_name} #{@item.user.last_name}"%>.
          This post was last updated on <%= @item.last_updated_at(current_affiliate, current_user).strftime("%A, %B %-d, %Y at %-k:%M") %> by <%= current_user.id == @item.last_updated_by ? 'you' : "#{@item.last_update.first_name} #{@item.last_update.last_name}"%>.<BR>
          <%= popup 'Edit this post', "#{@item.method_name}/edit", true, {id: @item.id} unless @item.archived? %> <BR>
          <%= ajax_link 'Delete this post', "delete", {model: @item.entity_name, id: @item.id}, true if (current_user.id == @item.user_id) || current_user.admin? %>
          <% if @item.versions.length > 1 %>
              <h4>Previous Versions</h4>
              <% @item.versions.each do |v| %>
                  <% next if v.version_number == @item.current_version %>
                  - <span class='inline'>V<%= v.version_number %>: created <%= v.created_at.strftime("%A, %B %-d, %Y at %-k:%M") %>. <a href='<%= SITE_HOST %>/<%= @item.method_name %>/<%= @item.id %>?version=<%= v.version_number %>&aid=<%= current_affiliate.present? ? current_affiliate.id : 0 %>' target='_blank'>View</a> | <%= popup 'Restore', "#{@item.method_name}/restore", true, {id: @item.id, version: v.version_number}, current_user.id == @item.user_id ? "Are you sure?  Restoring to an earlier version will destroy later versions." : "Are you sure?  Restoring to an earlier version may require re-approving this post to bring it back to the latest version."  unless @item.archived? %></span><BR>
              <% end %>
          <% end %>
          <% if current_user.admin? || (current_user.id == @item.user_id) %>
              <h4>Moderation Status</h4>
              <% @item.affiliate_join.each do |j| %>
                  <% a = Affiliate.find_by_id(j.affiliate_id) %>
                  - <%= a.name %><%= j.affiliate_id == 0 ? ' (All system users)' : ''%>
                  <%= j.approved_version == @item.current_version ? "Approved to current version" : (j.approved_version > 0 ? "Approved to version #{j.approved_version}, current version awaiting approval" : "Not yet approved, awaiting approval") %><BR>
              <% end %>
          <% end %>
        </div>
    <% end %>
    <!-- Administrator links etc -->
    <%
    @item.affiliate_join.each do |m|
       affiliate = Affiliate.find_by_id(m.affiliate_id)
       if affiliate.admin?(current_user, Membership::EDITOR) && !@item.archived? %>
            <% if m.approved? %>
                <div class='admin_controls'>
                  <h3>Post management for <%= affiliate.name %></h3>
                  Post is currently approved -
                  <%= popup 'Revoke Approval', "#{@item.method_name}/reject_or_remove", true, {id: @item.id, aid: m.affiliate_id} %>
                  <% if (m.affiliate_id > 0) && !@item.instance_of?(Blog) %>
                      <BR>
                      <%= @item.highlighted?(affiliate) ? 'Post is highlighted - ' : '' %>
                      <%= ajax_link "#{@item.highlighted?(affiliate) ? 'Unhighlight' : 'Highlight'} Post", "toggle_highlight", {model: @item.entity_name, id: @item.id, aid: m.affiliate_id} %>
                  <% end %>
                </div>
            <% elsif m.awaiting_edit? %>
                <div class='admin_controls'>
                  <h3>Post management for <%= affiliate.name %></h3>
                  Post is currently rejected -
                  <%= popup('Approve and Highlight', "#{@item.method_name}/approve", true, {id: @item.id, highlight: true, aid: m.affiliate_id}) if m.affiliate_id > 0 %>
                  <%= ' | ' if m.affiliate_id > 0 %>
                  <%= popup 'Approve', "#{@item.method_name}/approve", true, {id: @item.id, highlight: false, aid: m.affiliate_id} %>
                </div>
            <% else %>
                <div class='admin_controls urgent'>
                  <h3>Post approval pending for <%= affiliate.name %></h3>
                  Most recent updates are shown below.
                  <% if m.approved_version > 0 %>
                      Your group has currently approved <a href='<%= SITE_HOST %>/<%= @item.method_name %>/<%= @item.id %>?version=<%= m.approved_version %>&aid=<%= m.affiliate_id %>' target='_blank'>version <%= m.approved_version %></a> of this post.  The current post shown below is version <%= @item.current_version %>.
                  <% end %>
                  <BR>
                  <%= popup('Approve Request and Highlight', "#{@item.method_name}/approve", true, {id: @item.id, highlight: true, aid: m.affiliate_id}) if (m.affiliate_id > 0) && !@item.instance_of?(Blog) %> <BR>
                  <%= popup 'Approve Request', "#{@item.method_name}/approve", true, {id: @item.id, highlight: false, aid: m.affiliate_id} %><BR>
                  <%= popup 'Reject Request', "#{@item.method_name}/reject_or_remove", true, {id: @item.id, aid: m.affiliate_id} %>
                </div>
            <% end %>
        <% end %>
    <% end %>
    <% if @item.is_editable?(current_user) || (current_affiliate.id.present? && current_affiliate.admin?(current_user, Membership::EDITOR)) %>
        <div class='admin_controls'>
          <h3>Analytics</h3>
          <% if !@item.instance_of?(User) %>
            <strong>Emails</strong>
            <BR>TODO! - Also add a plot showing impressions over time..perhaps a stat of impressions (email + page views) with plot, then all of this stuff becomes the 'details' link that shows more
            <BR><strong>Website Views</strong>
          <% end %>
          <BR><%= @item.mark_reads.count %> user<%= @item.mark_reads.count == 1 ? '' : 's' %> viewed this <%= MarkRead.total_reads(@item.mark_reads).count %> time<%= MarkRead.total_reads(@item.mark_reads).count == 1 ? '' : 's' %>.
          <a href='#' onclick='EnergyFolks.$(this).hide();EnergyFolks.$(this).next("div").show();return false;'>More details</a>
          <div style='display:none;'>
          <%= @item.mark_reads.registered.count %> registered user<%= @item.mark_reads.registered.count == 1 ? '' : 's' %> viewed this <%= MarkRead.total_reads(@item.mark_reads.registered).count %> time<%= MarkRead.total_reads(@item.mark_reads.registered).count == 1 ? '' : 's' %>.
          <BR><%= @item.mark_reads.anonymous.count %> anonymous user<%= @item.mark_reads.anonymous.count == 1 ? '' : 's' %> viewed this <%= MarkRead.total_reads(@item.mark_reads.anonymous).count %> time<%= MarkRead.total_reads(@item.mark_reads.registered).count == 1 ? '' : 's' %>.
          <BR><i>Visits per affiliate:</i>
          <%
            affiliates = Affiliate.all
            affiliates << Affiliate.find_by_id(0)
            affiliates.each do |a|
              users = @item.mark_reads.by_affiliate(a).count
              next if users == 0
              total = MarkRead.total_reads(@item.mark_reads).where(:affiliate_id => a.id).count %>
              <BR><%= a.name %>: <%= users %> user<%= users == 1 ? '' : 's' %> viewed this <%= total %> time<%= total == 1 ? '' : 's'%>.
            <% end %>
          </div>
        </div>
    <% end %>
    <%
       if @item.affiliate_join.map { |a| a.affiliate_id }.include?(0) && !@item.instance_of?(Blog)
         current_user.memberships.approved.each do |m|
           if m.affiliate.admin?(current_user, Membership::EDITOR) && !@item.affiliate_join.map { |a| a.affiliate_id }.include?(m.affiliate_id) && !@item.archived? %>
             <div class='admin_controls'>
             <h3>Post management for <%= m.affiliate.name %></h3>
                    Post was sent to all energyfolks users, and therefore moderation is completed by energyfolks.  Change your group settings to moderate all posts, or <a href='mailto:contact@energyfolks.com'>contact energyfolks</a> with
                    a specific inquiry about this post (please include the post type [<%= @item.method_name %>] and id [<%= @item.id %>]) <BR>
                    <%= @item.highlighted?(m.affiliate) ? 'Post is highlighted - ' : '' %>
                    <%= ajax_link "#{@item.highlighted?(m.affiliate) ? 'Unhighlight' : 'Highlight'} Post", "toggle_highlight", {model: @item.entity_name, id: @item.id, aid: m.affiliate_id} %>
                </div>
         <% end
         end
       end
    end
%>