
<% if @item.is_editable?(current_user) %>
    <div class='admin_controls'>
      <%= content_tag(:h3, current_user.id == @item.user_id ? 'This is your post' : 'Content Management') %>
      This post was submitted on <%= @item.created_at.strftime("%A, %B %-d, %Y at %-k:%M") %> by <%= current_user.id == @item.user_id ? 'you' : "#{@item.user.first_name} #{@item.user.last_name}"%>.
      This post was last updated on <%= @item.last_updated_at(current_affiliate, current_user).strftime("%A, %B %-d, %Y at %-k:%M") %> by <%= current_user.id == @item.last_updated_by ? 'you' : "#{@item.last_updater.first_name} #{@item.last_updater.last_name}"%>.
      <%= popup 'Edit this post', "#{@item.method_name}/edit", true, {id: @item.id} %><BR>
      <%= ajax_link 'Delete this post', "delete", {model: @item.entity_name, id: @item.id}, true if (current_user.id == @item.user_id) || current_user.admin? %>
      <% if @item.versions.length > 1 %>
          <h4>Previous Versions</h4>
          <% @item.versions.each do |v| %>
              <% next if v.version_number == @item.current_version %>
              - V<%= v.version_number %>: created <%= v.created_at.strftime("%A, %B %-d, %Y at %-k:%M") %>. <a href='<%= SITE_HOST %>/<%= @item.method_name %>/show?id=<%= @item.id %>&version=<%= v.version_number %>&aid=<%= current_affiliate.present? ? current_affiliate.id : 0 %>' target='_blank'>View</a> | <%= popup 'Restore', "#{@item.method_name}/restore", true, {id: @item.id, version: v.version_number}, current_user.id == @item.user_id ? "Are you sure?  Restoring to an earlier version will destroy later versions." : "Are you sure?  Restoring to an earlier version may require re-approving this post to bring it back to the latest version." %><BR>
          <% end %>
      <% end %>
      <% if current_user.admin? || (current_user.id == @item.user_id) %>
          <h4>Moderation Status</h4>
          <% @item.affiliate_join.each do |j| %>
              <% a = Affiliate.find_by_id(j.affiliate_id) %>
              - <%= a.name %><%= j.affiliate_id == 0 ? ' (All system users)' : ''%>
              <%= j.approved_version == @item.current_version ? "Approved to current version" : (j.approved_version > 0 ? "Approved to version #{j.approved_version}, current version awaiting approval" : "Not yet approved, awaiting approval") %><BR>
          <% end %>
      <% end %>
    </div>
<% end %>
<!-- Administrator links etc -->
<%
@item.affiliate_join.each do |m|
   affiliate = Affiliate.find_by_id(m.affiliate_id)
   if affiliate.admin?(current_user, Membership::EDITOR) %>
        <% if m.approved? %>
            <div class='admin_controls'>
              <h3>Post management for <%= affiliate.name %></h3>
              Post is currently approved -
              <%= popup 'Revoke Approval', "#{@item.method_name}/reject_or_remove", true, {id: @item.id, aid: m.affiliate_id} %>
              <% if m.affiliate_id > 0 %>
                  <BR>
                  <%= @item.highlighted?(affiliate) ? 'Post is highlighted - ' : '' %>
                  <%= ajax_link "#{@item.highlighted?(affiliate) ? 'Unhighlight' : 'Highlight'} Post", "toggle_highlight", {model: @item.entity_name, id: @item.id, aid: m.affiliate_id} %>
              <% end %>
            </div>
        <% else %>
            <div class='admin_controls urgent'>
              <h3>Post approval pending for <%= affiliate.name %></h3>
              Most recent updates are shown below.
              <% if m.approved_version > 0 %>
                  Your group has currently approved <a href='<%= SITE_HOST %>/<%= @item.method_name %>/show?id=<%= @item.id %>&version=<%= m.approved_version %>&aid=<%= m.affiliate_id %>' target='_blank'>version <%= m.approved_version %></a> of this post.  The current post shown below is version <%= @item.current_version %>.
              <% end %>
              <BR>
              <%= popup('Approve Request and Highlight', "#{@item.method_name}/approve", true, {id: @item.id, highlight: true, aid: m.affiliate_id}) if m.affiliate_id > 0 %>
              <%= popup 'Approve Request', "#{@item.method_name}/approve", true, {id: @item.id, highlight: false, aid: m.affiliate_id} %>
              <%= popup 'Reject Request', "#{@item.method_name}/reject_or_remove", true, {id: @item.id, aid: m.affiliate_id} %>
            </div>
        <% end %>
    <% end %>
<% end %>
<%
   if @item.affiliate_join.map { |a| a.affiliate_id }.include?(0)
     current_user.memberships.approved.each do |m|
       if m.affiliate.admin?(current_user, Membership::EDITOR) && !@item.affiliate_join.map { |a| a.affiliate_id }.include?(m.affiliate_id) %>
         <div class='admin_controls'>
         <h3>Post management for <%= m.affiliate.name %></h3>
                Post moderation is completed by energyfolks.  Change your group settings to moderate all posts, or <a href='mailto:contact@energyfolks.com'>contact energyfolks</a> with
                a specific inquiry about this post (please include the post type and id: <%= @item.method_name %> <%= @item.id %><BR>
                <%= @item.highlighted?(m.affiliate) ? 'Post is highlighted - ' : '' %>
                <%= ajax_link "#{@item.highlighted?(m.affiliate) ? 'Unhighlight' : 'Highlight'} Post", "toggle_highlight", {model: @item.entity_name, id: @item.id, aid: m.affiliate_id} %>
            </div>
     <% end
     end
   end
%>