<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey('<%= SITE_SPECIFIC['stripe']['publishable'] %>');
</script>

<div class='stripe'>
    <% location = @item.nil? ? '/donate' : "/#{@item.method_name}/donate" %>
    <%= form_tag location, method: :post, id: 'payment-form' do %>
      <%= raw(iframe_form) %>
      <input type=hidden name=id value='<%= @item.nil? ? '' : @item.id %>'>
      <% if @email_settings_token.present? %>
        <input type=hidden name='user_token' value='<%= @email_settings_token.token %>'>
      <% end %>
      <div class='amount'>

        <%
          if @item.nil?
            donations = @user.present? ? Donation.where(user_id: @user.id).where('entity_id IS NULL').all : []
          else
            donations = @user.present? ? @item.donations.where(user_id: @user.id).all : []
          end
          if donations.length > 0
        %>
            <h1>Thank You for Your Earlier Donation!</h1>
            Our records show that you donated <%= @item.nil? ? 'in the past' : 'in relation to this post' %>.  Your donations <%= @item.nil? ? '' : 'tied to this item ' %>are shown below.  Thank you for your support.
            <table border=0 style='border-top: 1px solid #dddddd;' cellspacing=0 width='100%'>
              <% donations.each do |donation| %>
                  <tr>
                    <td style='width:90px;margin:0px; padding:3px; border-bottom: 1px solid #dddddd;'>
                      <%= donation.created_at.strftime("%-m/%-d/%Y") %>
                    </td>
                    <td style='text-align:right; margin:0px; padding:3px; border-bottom: 1px solid #dddddd;'>
                      $<%= donation.amount %>
                    </td>
                  </tr>
              <% end %>
            </table>
            <%= raw('<div style="display:none;">') if @just_donated %>
            <h1>Consider Further Support</h1>
        <% elsif @item.nil? %>
            <h1>Make a Donation</h1>
        <% else %>
            <h1>Pay What You Think it's Worth</h1>
        <% end %>
        Help support our mission by donating to our cause.  No donation is necessary.  All donations are tax-deductible.
        <table cellpadding=0 cellspacing=0>
          <tr>
            <td id='donate_slider'>
              <div id="donation_slider" data-val='<%= @user.average_donation %>'></div>
            </td>
            <td id='donate_amount'>
              $<%= @user.average_donation %>
              <div style='font-size:12px;line-height:12px;'><%= @user.self_donations.length > 0 ? 'Your Average' : 'Suggested' %> Donation</div>
            </td>
          </tr>
        </table>
        <input type='hidden' name='amount' id='amount' value='<%= @user.average_donation %>'>




      </div>
      <%= raw('</div><div style="display:none;">') if @just_donated %>
      <div class='card'>
        <% if @user.blank? %>
        You must be logged in to donate.  Please login below to donate.
        <script language=javascript>
          EnergyFolks.LoginBox();
        </script>
        <% else
             first = true
             @user.stripe_tokens.each do |t| %>
                <div class='card_item individual_card<%= first ? ' selected' : '' %>' data-id='<%= t.id %>'>
                  Donate from <%= t.card_type %> ********-<%= t.last4 %>
                </div>
             <% first = false
             end
             %>
             <div class='card_item new_card<%= first ? ' selected_no_yellow' : '' %>' data-id='new'>
               <%= 'Donate from a New Card' if @user.stripe_tokens.length > 0 %>
               <div class='card_form'>
                  <input type=hidden name=card id='selected_card' value='<%= first ? 'new' : @user.stripe_tokens.first.id %>'>

                  <div class='form_label'>Card Number</div>
                  <div class='form_entry'><input type="text" data-stripe="number"/></div>

                  <div class='form_label'>Security Code</div>
                  <div class='form_entry'><input type="text" style='width:40px;margin:2px;' data-stripe="cvc"/></div>

                  <div class='form_label'>Expiration</div>
                  <div class='form_entry'>
                    <table border=0 cellpadding=2 cellspacing=0>
                      <tr>
                        <td>
                          <select data-stripe='exp-month' style='width:40px;'>
                            <option value='1'>1</option>
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='5'>5</option>
                            <option value='6'>6</option>
                            <option value='7'>7</option>
                            <option value='8'>8</option>
                            <option value='9'>9</option>
                            <option value='10'>10</option>
                            <option value='11'>11</option>
                            <option value='12'>12</option>
                          </select>
                        </td>
                        <td>
                          <select data-stripe='exp-year' style='width:60px;'>
                            <% year = Time.now.year
                               for i in 0..12 %>
                                <option value='<%= (year + i) %>'><%= (year + i) %></option>
                            <% end %>
                          </select>
                        </td>
                      </tr>
                    </table>
                  </div>
                 <span style='font-size:10px;font-weight:normal;'><i>Credit Card data securely processed by <a href='https://stripe.com/help/security' target='_blank'>Stripe</a>.</i></span>
                 </div>
               </div>
         <% end %>
      </div>
      <div class='submit_button'>
        <button type="submit" id='donate_button'>Donate $<%= @user.average_donation %>!</button>
        <%= image_tag 'loader.gif', :id => 'loading_button' %>
      </div>
      <i>All donations are tax-deductible.  You will receive a receipt confirming your donation by email.</i>
      <%= raw('</div>') if @just_donated %>
    <% end %>
</div>
