<% if !(@user.present? && @user.affiliate.present? && !@user.affiliate.send_digest?) %>
    <div class='form_label'>Digest Emails</div>
    <div class='form_entry'>
      <label><%= f.check_box :weekly %> Weekly Digest (Monday morning)</label><BR>
      <label><%= f.check_box :daily %> Daily Digest</label>
    </div>
<% end %>
<div class="form_label">Announcements from Leadership</div>
<div class='form_entry'>
    <label><%= f.check_box :announcement %> Receive Announcements from Group Leaders</label>
    <div class="explain">Announcement emails are sent by group leaders to membership.  These are NOT automated emails, and are the primary mechanism for most groups to reach their membership.</div>
</div>
<div class='form_label'>Automated Notification Emails</div>
<div class='form_entry'>
  <% if @user.present? && @user.affiliate.present? %>
    <%= f.radio_button :affiliate_only, false, class: "toggle" %>
    <%= f.label :affiliate_only, 'Allow notifications for posts from any network', value: false %>
    <%= f.radio_button :affiliate_only, true, class: "toggle" %>
    <%= f.label :affiliate_only, 'Restrict notifications to posts from my networks', value: true %>
  <% elsif @user.present? %>
    <%= f.hidden_field :affiliate_only, :value => false %>
  <% end %>
  <div>
    <label><%= f.check_box :events %> New Events</label>
    <% if show_rad %>
        - Limit to events within <%= f.text_field :event_radius, :size => 4, class: "distance" %> miles
    <% end %>
  </div>
  <div>
    <label><%= f.check_box :jobs %> New Jobs</label>
    <% if show_rad %>
      - Limit to jobs within <%= f.text_field :job_radius, :size => 4, class: "distance" %> miles (0 for no limit)
    <% end %>
  </div>
  <label><%= f.check_box :discussions %> New Discussions</label><BR>
  <label><%= f.check_box :blogs %> New Blog Posts</label>
</div>