<% if !(@user.present? && @user.affiliate.present? && !@user.affiliate.send_digest?) %>
    <div class='form_label'>Digest Emails</div>
    <div class='form_entry'>
      <label><%= f.check_box :weekly %> Weekly Digest (Monday morning)</label><BR>
      <label><%= f.check_box :daily %> Daily Digest</label>
    </div>
<% end %>
<div class='form_label'>Notification Emails</div>
<div class='form_entry'>
  <div>
    <label><%= f.check_box :events %> New Events</label>
    <% if show_rad %>
        - Limit to events within <%= f.text_field :event_radius, :size => 4, class: "distance" %> miles
    <% end %>
  </div>
  <div>
    <label><%= f.check_box :jobs %> New Jobs</label>
    <% if show_rad %>
      - Limit to jobs within <%= f.text_field :job_radius, :size => 4, class: "distance" %> miles (0 for no limit)
    <% end %>
  </div>
  <label><%= f.check_box :discussions %> New Discussions</label><BR>
  <label><%= f.check_box :blogs %> New Blog Posts</label><BR>
  <label><%= f.check_box :announcement %> Important Announcements</label>
</div>