<!DOCTYPE html>
<html>
<head>
  <title>EnergyfolksServer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "energyfolks", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "energyfolks" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>APPLICATION LAYOUT</h1>
<%= yield %>

<%= raw(notices(notice, alert)) %>
</body>
</html>
