<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "energyfolks", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "energyfolks" %>
  <%= csrf_meta_tags %>
  <% if current_affiliate.id.present? %>
      <style>
          body.iframe_popup h1, body.iframe_popup h2, body.iframe_popup h3, body.iframe_popup h4, body.iframe_popup h5, body.iframe_popup h6 {
            color: #<%= current_affiliate.color %>;
          }
          body.iframe_popup a:link, body.iframe_popup a:visited {
            color: #<%= current_affiliate.color %>;
          }
          body.iframe_popup .button, body.iframe_popup a.button  {
              background-color: #<%= current_affiliate.color %>;
          }
          body.iframe_popup .button:hover, body.iframe_popup a.button:hover {
              color: #<%= current_affiliate.color %>;
          }

          body.iframe_popup div.form hr {
            background-color: #<%= current_affiliate.color %>;
          }
          body.iframe_popup div.form .progress_bar .current_page {
            background-color: #<%= current_affiliate.color %>;
          }
          body.iframe_popup div.form div.form_label {
            color: #<%= current_affiliate.color %>;
          }
          body.iframe_popup div.form input[type="radio"].toggle:checked + label {
            background-color: #<%= current_affiliate.color %>;
          }
          body.iframe_popup div.form input[type="radio"].toggle + label:hover {
            background-color: #<%= current_affiliate.color %>;
          }
          body.iframe_popup div.form div.file_inputs .file_input_btn {
            background-color: #<%= current_affiliate.color %>;
          }
      </style>
  <% end %>
  <style>
      body.iframe_popup .button, body.iframe_popup a.button  {
          color: white;
      }
  </style>
</head>
<body class='iframe_popup'>
<script language="javascript">
    <%= raw(user_logged_in? ? "EnergyFolks.user_logged_in = true;EnergyFolks.current_user = #{user_hash(current_user).to_json};" : '') %>
</script>

<%= yield %>
<script language="javascript">
    EnergyFolks.checkCookies = false;
    EnergyFolks.iframe = true;
</script>
<% if params['iframe'].present? && (params['iframe'] == '1') && @url.present? %>
    <script language="javascript">
      EnergyFolks.$(function() {
          EnergyFolks.parent_url = '<%= raw(@url) %>';
          var window_height = EnergyFolks.$(document).height()+50;
          if(window_height < EnergyFolks.minheight) window_height = EnergyFolks.minheight;
          window.parent.location=EnergyFolks.parent_url+'#iframe_'+window_height;
      });
    </script>
<% end %>
<%= raw(notices(params[:notice], params[:alert])) %>
<%= raw(notices(flash.discard(:notice), flash.discard(:alert))) %>

</body>
</html>
