<!DOCTYPE html>
<html>
<head>
  <title>Energyfolks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "energyfolks", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "energyfolks" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script language="javascript">
  EnergyFolks.$(function() {
      EnergyFolks.parent_url = '<%= raw(@url) %>';
      window.parent.location=EnergyFolks.parent_url+'#iframe_'+(EnergyFolks.$(document).height()+50);
  });
</script>

</body>
</html>
