<%
   #files = %w(creampaper.png logo_small.png logo_words_long.png)
   #files.each do |file_name|
   #  file = File.read("#{Rails.root}/app/assets/images/#{file_name}")
   #  attachments.inline[file_name] = file
   ## use with  attachments[file_name].url
   #end
%>
<body style='padding:0px;margin:0px;font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;' topmargin='0' leftmargin='0' rightmargin='0' margin='0'>
    <% if @affiliate.present? && @affiliate.id.present? %>
        <table border=0 cellspacing=0 cellpadding=2 width='100%'><tr><td bgcolor='#1D272F' align=right height=18>
          <div style='color:white;text-align:right;font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;letter-spacing: -0.4px;'>
            <span style='font-size:12px;'>powered by <a href='https://www.energyfolks.com' style='color:white;text-decoration:none;'>energyfolks</a></span>
          </div>
        </td></tr></table>
        <% if @affiliate.custom_header? %>
            <%= @affiliate.email_header %>
        <% else %>
            <%= render :partial => '/affiliates/header' %>
        <% end %>
    <% else %>
        <table border=0 cellspacing=0 cellpadding=2 width='100%'><tr><td bgcolor='#1D272F' align=center style='text-align: center;'>
          <a href='<%= SITE_HOST %>' border=0 style='border:0px;'><img src='<%= SITE_HOST %>/assets/ef_logo.png' border=0 style='border:0px;display: inline;'></a>
        </td></tr></table>
    <% end %>
    <table border=0 cellspacing=0 cellpadding=2 width='100%'><tr><td>
        <%= yield %>
    </td></tr></table>

    <BR>
    <% if @token.present? %>
        <img src='<%= SITE_HOST %>/emails/open?token=<%= @token %>' border=0 width=1 height=1>
    <% end %>
    <table border=0 cellspacing=0 cellpadding=2 width='100%'><tr><td bgcolor='#dddddd' align=center style='text-align: center;font-size:12px;'>
        &#169; <a style='color:#<%= @affiliate.present? && @affiliate.id.present? ? @affiliate.color : '1D272F' %>;' href='<%= SITE_HOST %>'>Energyfolks</a>, <%= Time.now.year %>
        <% if @affiliate.present? && @affiliate.id.present? %>
          on behalf of <a style='color:#<%= @affiliate.present? && @affiliate.id.present? ? @affiliate.color : '1D272F' %>;' href='<%= @affiliate.url %>'><%= @affiliate.name %></a>.
        <% end %>
        <BR>
        <% if @user.present? %>
            Don't want to receive emails like this?  <a style='color:#<%= @affiliate.present? && @affiliate.id.present? ? @affiliate.color : '1D272F' %>;' href='<%= SITE_HOST %>/emails/edit?iframe_next=1&aid=<%= @affiliate.present? && @affiliate.id.present? ? @affiliate.id : 0 %>&token=<%= @user.email_settings_tokens.create.token %>'>Change your email settings</a>.
        <% end %>
      <BR><BR><BR>
    </td></tr></table>
</body>